<!DOCTYPE html>
<html>
  <%- include('components/head'); -%>
  <body>
    <div class="login-card">
      <h1><%= title %></h1>
      <form autocomplete="off" onsubmit="return false;">
        <input
          required
          id="name"
          type="text"
          name="username"
          placeholder="Username"
          value=""
        />
        <input
          required
          id="password"
          type="password"
          name="password"
          placeholder="Password"
          value=""
        />
        <p id="message" style="font-size: 11px; color: red; margin-top: 0px;"></p>
        <button type="submit" class="login login-submit" onclick="onLogin();">Sign-in</button>
      </form>
      <div class="login-help">
        <a href="/interaction/<%= uid %>/abort">[ Cancel ]</a>
      </div>
      <div class="signUp" style="text-align: center;">
        <p>Do you have an account ? <a href="/register"> Sign up </a></p>
      </div>
    </div>
    <script>
      async function onLogin() {        
        document.getElementById('name').style.border = '1px solid #d9d9d9';
        document.getElementById('name').style.borderTop = '1px solid #c0c0c0';
        document.getElementById('password').style.border = '1px solid #d9d9d9';
        document.getElementById('password').style.borderTop = '1px solid #c0c0c0';
        document.getElementById('message').innerHTML = '';

        const username = document.getElementById('name').value;
        const password = document.getElementById('password').value;

        if (!username || !password) return ;
        try {
          const result = await fetch('/interaction/<%= uid %>/login', {
            method: 'POST',
            body: new URLSearchParams({
              username,
              password
            })
          });
          const data = await result.json();
          
          if ('error' in data) {
            document.getElementById('name').style.border = '2px solid red';
            document.getElementById('password').style.border = '2px solid red';
            document.getElementById('message').innerHTML = data.error_description;
          } else {
            window.location.href = data.redirectTo;
          }
        } catch (e) {
          console.log(e);
        }
      }
    </script>
    <!-- <%- include('components/footer'); -%> -->
  </body>
</html>
